.portfolio-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.content {
	padding: 20px;
  background-image: url('/img/body_bkg.png');
  background-repeat: repeat;
}

.social-wrapper {
	padding: 20px;
}

.social-wrapper a {
	color: lightgray;
	padding: 0 5px;
}

.social-wrapper a:hover {
	color: lightblue;
}

.section-header h2 {
	font-size: 3em;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.footer {
	position: absolute;
	width: 100%;
	background-color: #F8F6E9;
	color: #777;
}

.footer-section {
	padding: 10px 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.copyright-text {
  text-align: center;
  line-height: 60px;
}

.post-pagination {
  text-align: center;
}